PostListHeader {
    height: auto;
    color: yellow;
    /* background: yellow; */
    /* text-style: bold; */
}

#post_list_container {
    /* margin:; */
    /* height: 60; */
}
PostListScreen {
    /* height: auto; */
    /* height: 100%; */
}
PostList {
    /* height: auto; */
}

PostTitleStatic {
    text-style: bold;
    color: cyan;
}   

PostWriterStatic {
    color: yellow;
}

PostDateStatic {
    color: lightblue;
}

PostHeaderWidget {
    background:#3f3e3d;
    height: 5;
    margin: 0;
    padding: 0;
}

PostBodyWidget {
    background: midnightblue;
    color: beige;
    /* background: wheat; */
    /* border-bottom: solid wheat; */
}

CommentItemWidget {
    /* background:#3f3e3d; */
    border-bottom: solid lightslategray;
    height: auto;
}

CommentWriterStatic {
    color: yellow;
}

CommentDateStatic {
    color: lightblue;
}

CommentAreaHeaderStatic {
    color: white;
    background: green;
}

CommentAreaWidget {
    height: auto;
    /* overflow-y: auto; */
    /* height: 25; */
    /* background: midnightblue; */
}

.subCommentAreaWidget {
    margin-left: 2;
}

GoPageModalScreen {
    align: center middle;
}

#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}



PostSearchResultScreen {
    /* layout: horizontal; */
}
Paginator {
    /* padding-top: 50; */
    /* layout: horizontal; */
    /* width: 10; */
    /* width: auto;     */
    height: 1;
    /* height: 4; */
    /* overflow-y: scroll;  */
}

Label {
    /* padding: 1 1; */
}
ListItem {
    /* padding: 1 2; */
    width: 10;
}
  