PostTitleStatic {
    text-style: bold;
    color: cyan;
}

PostWriterStatic {
    color: yellow;
}

PostDateStatic {
    color: lightblue;
}

PostHeaderWidget {
    background:#3f3e3d;
    height: 5;
    margin: 0;
    padding: 0;
}

PostBodyWidget {
    background: midnightblue;
    color: beige;
    /* background: wheat; */
    /* border-bottom: solid wheat; */
}

CommentItemStatic {
    background:#3f3e3d;
    border-bottom: solid lightslategray;
}

CommentWriterStatic {
    color: yellow;
}

CommentDateStatic {
    color: lightblue;
}

CommentAreaHeaderStatic {
    color: orange;
}

CommentAreaWidget {
    height: 40;
    overflow-y: auto;
    /* height: 25; */
    /* background: midnightblue; */
}

.subCommentAreaWidget {
    margin-left: 2;
}